@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100;0,400;1,100;1,400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background: #ededed;
}

.header-container {
  width: 100%;
  height: 5rem;
  background: #265fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 30px;
}

header {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Josefin Sans", sans-serif;
}

header a {
  color: #fff;
  text-decoration: none;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar {
  width: 30%;
}

.nav-menu {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  padding: 15px 0;
  border-bottom: 3px solid transparent;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.nav-link:hover {
  border-bottom: 3px solid #fff;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.main-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-container {
  width: 90%;
  padding: 30px;
}

.title {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  text-shadow: 0 3px 3px #919191;
}

.newsSection {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-container {
  width: 90%;
  padding: 30px;
}

.news {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  text-shadow: 0 3px 3px #919191;
}

.news-wraper {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-left-side {
  width: 50%;
  height: 100%;
  padding-right: 10px;
}

.news-right-side {
  width: 50%;
  height: 100%;
}

.main-news {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000080)), url(../assets/images/news-1.jfif);
  background: linear-gradient(#00000080), url(../assets/images/news-1.jfif);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.main-news:hover .news-title {
  color: #265fff;
}

.second-news {
  height: 68%;
  margin-bottom: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000080)), url(../assets/images/news-2.jfif);
  background: linear-gradient(#00000080), url(../assets/images/news-2.jfif);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.second-news:hover .news-title {
  color: #265fff;
}

.third-news {
  height: 30%;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000080)), url(../assets/images/news-3.jfif);
  background: linear-gradient(#00000080), url(../assets/images/news-3.jfif);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.third-news:hover .news-title {
  color: #265fff;
}

.news-content {
  height: 100%;
  padding: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.news-title {
  margin-bottom: 5px;
  font-size: 1.8rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: .1rem;
}

.news-subtitle {
  margin: 0 0 5px 0;
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
}

.news-date {
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
  color: #a5a5a5;
}

.contactoSection {
  width: 100%;
  background: #265fff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto-container {
  width: 90%;
  padding: 15px 30px;
}

.contacto-title {
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
}

.contactoDetail-container {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-detail {
  width: 400px;
  height: 130px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 2px;
  font-family: "Josefin Sans", sans-serif;
}

.contact-detail:hover {
  background: #fff;
  color: #000;
}

.contact-name {
  margin: 0;
}

.contact-tel {
  margin: 10px 0;
}

.contact-mail {
  margin: 0;
}

@media screen and (max-width: 1420px) {
  .contactoDetail-container {
    height: 600px;
  }
}
/*# sourceMappingURL=home-style.css.map */