@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100;0,400;1,100;1,400&display=swap");
body {
  margin: 0;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000b3)), url(../assets/images/profile-back.jfif);
  background-image: linear-gradient(#000000b3), url(../assets/images/profile-back.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dark-tin {
  background: #000;
  width: 100%;
  height: 100%;
  background: #000000b0;
}

header {
  width: 100%;
  height: 60px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  width: 90%;
  padding: 0 20px;
  height: 50px;
  background: #fff;
  -webkit-box-shadow: 0 0 5px 2px #b1b1b1;
          box-shadow: 0 0 5px 2px #b1b1b1;
  border-radius: 9px;
  font-family: "Josefin Sans", sans-serif;
}

.navContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navMenu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navMenu li {
  padding: 0 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.navMenu li:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.navMenu li a {
  padding: 13px;
  color: #a5a5a5;
  text-decoration: none;
  border: .9px solid #c9c9c9;
  border-radius: 20px;
}

.navMenu li a:hover {
  color: #000;
  -webkit-transition: .3s;
  transition: .3s;
}

.signIn-section {
  width: 25%;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 0 0 5px 2px #b1b1b1;
          box-shadow: 0 0 5px 2px #b1b1b1;
  border-radius: 9px;
  font-family: "Josefin Sans", sans-serif;
}

.signIn-section h3 {
  margin: 0;
  text-align: center;
}

.signIn-form {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signIn-form input {
  width: 350px;
  height: 30px;
  margin: 3px 10px 10px 10px;
  border: 1px solid #c7c7c7;
  -webkit-transition: .3s;
  transition: .3s;
}

.signIn-form input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px 2px #b1b1b1;
          box-shadow: 0 0 5px 2px #b1b1b1;
}

.signIn-form #signin-button {
  width: 90px;
  height: 30px;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  -webkit-transition: .3s;
  transition: .3s;
}

.signIn-form #signin-button:hover {
  background: #265fff;
  color: #fff;
  border: none;
}

.signIn-form a {
  margin-top: 7px;
  padding-left: 10px;
  text-decoration: none;
}
/*# sourceMappingURL=signIn.css.map */