@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100;0,400;1,100;1,400&display=swap');
// fuente Josefin Sans -> font-family: 'Josefin Sans', sans-serif;
// fuente Bebas Neue -> font-family: 'Bebas Neue', cursive;

// fuente del hero-title y nav
$title-fonts: 'Josefin Sans', sans-serif;

// fuente de news-title
$news-title: 'Bebas Neue', cursive;

$nav-text-color: #a5a5a5;

// news-background-color
$blue-color: #265fff;

//shadow text color
$text-shadow: 0 3px 3px #919191;

//color para boxes
$color-shadow: #b1b1b1;

//shadow para boxes
$boxes-shadow: 0 0 5px 2px #b1b1b1;

//color de bordes
$color-border: #ffffff3b;

$color-border2: #c9c9c9;

$footer-color: #202124;
