@import "variables";

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #ededed;
}

.header-container{
    width: 100%;
    height: 5rem;
    background: $blue-color;
    display: flex;
    justify-content: center;
    padding: 10px 30px;
}

header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-family: $title-fonts;
    a{
        color: #fff;
        text-decoration: none;
    }
}

.logo-container{
    display: flex;
    align-items: center;
}

.nav-bar{
    width: 30%;
}

.nav-menu{
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link{
    padding: 15px 0;
    border-bottom: 3px solid transparent;
    transition: .3s ease-in-out;
    &:hover{
        border-bottom: 3px solid #fff;
        transition: .3s ease-in-out;
    }
}

.main-title{
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-container{
    width: 90%;
    padding: 30px;
}

.title{
    text-align: center;
    font-family: $title-fonts;
    font-size: 2rem;
    text-shadow: $text-shadow;
}

// Sección de noticias
.newsSection{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

.news-container{
    width: 90%;
    padding: 30px;
}

.news{
    font-family: $title-fonts;
    font-size: 1.3rem;
    text-shadow: $text-shadow;
}

.news-wraper{
    width: 100%;
    height: 500px;
    display: flex;
}

.news-left-side{
    width: 50%;
    height: 100%;
    padding-right: 10px;
}

.news-right-side{
    width: 50%;
    height: 100%;
}

.main-news{
    height: 100%;
    background: linear-gradient(#00000080), url(../assets/images/news-1.jfif);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    &:hover{
        .news-title{color: $blue-color}
    }
}

.second-news{
    height: 68%;
    margin-bottom: 10px;
    background: linear-gradient(#00000080), url(../assets/images/news-2.jfif);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    &:hover{
        .news-title{color: $blue-color}
    }
}

.third-news{
    height: 30%;
    background: linear-gradient(#00000080), url(../assets/images/news-3.jfif);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    &:hover{
        .news-title{color: $blue-color}
    }
}

.news-content{
    height: 100%;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.news-title{
    margin-bottom: 5px;
    font-size: 1.8rem;
    font-family: $news-title;
    letter-spacing: .1rem;
}

.news-subtitle{
    margin: 0 0 5px 0;
    font-size: 1.3rem;
    font-family: $title-fonts;
}

.news-date{
    font-family: $title-fonts;
    font-style: italic;
    color: $nav-text-color;
}

// contacto

.contactoSection{
    width: 100%;
    background: $blue-color;
    color: #fff;
    display: flex;
    justify-content: center;
}

.contacto-container{
    width: 90%;
    padding: 15px 30px;
}

.contacto-title{
    font-size: 1.3rem;
    font-family: $title-fonts;
}

.contactoDetail-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-detail{
    width: 400px;
    height: 130px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 2px;
    font-family: $title-fonts;
    &:hover{
        background: #fff;
        color: #000;
    }
}

.contact-name{margin: 0;}
.contact-tel{margin: 10px 0;}
.contact-mail{margin: 0;}

@media screen and (max-width: 1420px){
    .contactoDetail-container{
        height: 600px;
    }
}