@import "variables";

body{
    margin: 0;
    height: 100vh;
    background-image:  linear-gradient(#000000b3), url(../assets/images/profile-back.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dark-tin{
    width: 100%;
    height: 100%;
    background: #000000b0;
}

@import "navBar";

.loginSection{
    width: 25%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background: #fff;
    box-shadow: $boxes-shadow;
    border-radius: 9px;
    font-family: $title-fonts;
    h3{
        margin: 0;
        text-align: center;
        color: $news-color;
    }
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        width: 350px;
        height: 30px;
        margin: 10px;
        padding-left: 5px;
        border: 1px solid #c7c7c7;
        transition: .3s;
        &:focus{
            outline: none;
            box-shadow: $boxes-shadow;
        }
        &::placeholder{
            font-family: $title-fonts;
            font-style: italic;
        }
    }
    #login-button{
        width: 90px;
        height: 30px;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;
        border: none;
        font-family: $title-fonts;
        transition: .3s ease-in-out;
        &:hover{
            background: $news-color;
            color: #fff;
            border: none;
            transition: .3s ease-in-out;
        }
    }
    p{
        margin-top: 7px; 
    }
    a{
        margin-top: 7px;
        color: $news-color;
        text-decoration: none;
        &:hover{
            color: purple;
        }
    }
}